module {{ wrapper_name }}
    #(
        {% for mod_param in module_param_name %}
        parameter {{ mod_param }} = {{ module_param_value[loop.index0] }},
        {% endfor %}
        {% for interface in interfaces_name %}
        {% set intf_index = loop.index0 %}
        {% set loop_intf_index = loop %}
        {% for intf_param in interfaces_instance_param_name[intf_index] %}
        {% set intf_param_index = loop.index0 %}
        {% set loop_param_index = loop %}
        {% if loop_intf_index.last and loop_param_index.last %}
        parameter {{ intf_param }} = {{ interfaces_param_value[intf_index][intf_param_index] }}
        {% else %}
        parameter {{ intf_param }} = {{ interfaces_param_value[intf_index][intf_param_index] }},
        {% endif %}
        {% endfor %}
        {% endfor %}
    )
    (
        {% for port in module_port_name %}
        {{ module_port_dir[loop.index0] }} wire {{ port }},
        {% endfor %}
        {% for interface in interfaces_name %}
        {% set outer_loop_index = loop.index0 %}
        {% set loop_intf_index = loop %}
        {% for interface_port in interfaces_modport_ports[outer_loop_index] %}
        {% set inner_loop_index = loop.index0 %}
        {% set loop_port_index = loop %}
        {% if loop_intf_index.last and loop_port_index.last %}
        {{ interfaces_modport_ports_dir[outer_loop_index][inner_loop_index] }} wire {{ interfaces_data_logic_packed_dim[outer_loop_index][inner_loop_index] }} {{ interface_port }} {{ interfaces_data_logic_unpacked_dim[outer_loop_index][inner_loop_index] }}
        {% else %}
        {{ interfaces_modport_ports_dir[outer_loop_index][inner_loop_index] }} wire {{ interfaces_data_logic_packed_dim[outer_loop_index][inner_loop_index] }} {{ interface_port }} {{ interfaces_data_logic_unpacked_dim[outer_loop_index][inner_loop_index] }},
        {% endif %}
        {% endfor %}
        {% endfor %}
    );

    module {{module_name}}
    #(
        {% for param in module_param_name %}
        {% if loop.index0 == module_param_name|length -1%}
        .{{ param }}({{ module_param_value[loop.index0] }})
        {% else %}
        .{{ param }}({{ module_param_value[loop.index0] }}),
        {% endif %}
        {% endfor %}
    )
    u_{{module_name}}
    (
        {% for port in module_port_name %}
        .{{ port }}({{ port }}),
        {% endfor %}
        {% for interface in interfaces_name %}
        {% if loop.index0 == interfaces_name|length -1%}
        .{{ interface }}({{ interfaces_instance_name[loop.index0] }})
        {% else %}
        .{{ interface }}({{ interfaces_instance_name[loop.index0] }}),
        {% endif %}
        {% endfor %}
    );

    {% for interface in interfaces_name %}
    {% set outer_loop_index = loop.index0 %}
    {% for interface_modport_port in interfaces_modport_ports[outer_loop_index] %}
    {% set inner_loop_index = loop.index0 %}
    {% if interfaces_modport_ports_dir[outer_loop_index][inner_loop_index] == "output" %}
    assign {{ interface_modport_port }} = {{ interfaces_instance_name[outer_loop_index] }}.{{ interfaces_modport[outer_loop_index] }}.{{ interface_modport_port }};
    {% else %}
    assign {{ interfaces_instance_name[outer_loop_index] }}.{{ interfaces_modport[outer_loop_index] }}.{{ interface_modport_port }} = {{ interface_modport_port }};
    {% endif %}
    {% endfor %}


    {{ interfaces_type[outer_loop_index] }}
    #(
        {% for param in interfaces_param_name[outer_loop_index] %}
        {% set param_index = loop.index0 %}
        {% if param_index == interfaces_param_name[outer_loop_index]|length -1 %}
        .{{ param }}({{ interfaces_instance_param_name[outer_loop_index][param_index] }})
        {% else %}
        .{{ param }}({{ interfaces_instance_param_name[outer_loop_index][param_index] }}),
        {% endif %}
        {% endfor %}
    )
    {{ interfaces_instance_name[outer_loop_index] }}
    (
        {% for port in interfaces_port[outer_loop_index] %}
        {% set port_index = loop.index0 %}
        {% if port_index == interfaces_port[outer_loop_index]|length -1 %}
        .{{ port }}({{ port }})
        {% else %}
        .{{ port }}({{ port }}),
        {% endif %}
        {% endfor %}
    );

    {% endfor %}
    endmodule
endmodule