# Created by .ignore support plugin (hsz.mobi)
### JupyterNotebooks template
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# IPython
profile_default/
ipython_config.py

.idea/*

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/

# Vivado
.Xil/
*.log
*.jou
vivado_pid*.str

### Python template
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pip
*.egg-info/
.installed.cfg
*.egg

# Distribution / packaging
build/
dist/

# Sphinx documentation
docs/_build/
docs/_autosummary/

### macOS template
# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

### Linux template
*~
.*.swp

!/.gitignore
!/README.md
