{% if "simulation" in target_generate %}
create_project -in_memory -part {{board_part}}
{% endif %}
create_ip -vlnv {{ vlnv }} -module_name {{ module_name }} -dir . -force
set_property -dict [list \
{% for key, value in properties.items() %}
    CONFIG.{{ key }} { {{-value-}} } \
{% endfor %}
] [get_ips {{ module_name }}]
generate_target {{ target_generate }} [get_ips {{ module_name }}]
{% if "synthesis" in target_generate %}
set_property generate_synth_checkpoint 0 [get_files {{module_name}}.xci]
{% endif %}
